*, *::before, *::after{ 
  box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* justify-content:center; */
    background: linear-gradient(0deg, rgba(137, 125, 153, 0.788) 0%, rgba(237,245,249,1) 63%);
 }
    
    
header {
    padding: 10px;
    text-align:start;
    background: #4d6483c9;
    color: #fff;
    border-bottom:30px solid #73e2ea;
}

h1 {
    text-align: center;
  }

.timer-count{
    display: flex;
    justify-content: flex-end;
}
.quiz-container{
    width: 600px;
    background-color: rgb(203, 228, 247);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 10px 2px; 
    display: block;
    margin-left: auto;
    margin-right: auto
    
}

/* .choice-container{
    display: flex;
    margin-bottom:0.8rem;
    width: 100%;
    border-radius:3px;
    font-size: 1rem;
    min-width: 80vw;
    background-color: rgb(143, 25, 45);
    cursor:pointer;
    box-shadow: 0 0.4rem 1.4rem;
} */
ul{
    list-style-type: none;
    padding: 5;
}
/* buttons */
.view-scores{ 
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 3px;
    font-size: 1rem;

}
  #start-button{ 
    width: 150px;
    height: 40px;
    border: none;
    background-color: rgba(121, 228, 148, 0.911);
    border-radius: 2px;
    font-size: 2rem;     
    margin:auto; 
    cursor:grab;
}

/* .btn-grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 20px 0;
} */

.btn.answer-buttons{
    background-color: rgba(214, 169, 169, 0.96);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(51, 60, 43);
    cursor: pointer;
    outline:none;
    font-size: 1rem;
}

.btn:hover {
    color: rgb(19, 15, 15);        
}


#clear-scores, #go-back{
    width: 150px;
    height: 40px;
    border: none;
    background-color: rgba(45, 187, 192, 0.8);
    border-radius: 4px;
    font-size: 1.5rem;
    cursor:pointer;
}

.controls{
   width: 150px;
    /* height: 40px; */
    border: none;
    border-radius: 2px;
    font-size: 2rem;     
    margin:auto; 
    cursor:grab;

    /* display: none; */
}


